{% extends "base.html.twig" %}

{% block body %}
    <div class="py-5 ">
        <div class="col-12 col-md-6 mx-auto formContact">
            <div class="p-5">
                <div class="my-3 text-center">
                    <h5>Modifier mon mot de passe</h5>
                </div>
                <div class="card-body">
                    {{ form_start(formPassword)}}

                    {{ form_widget(formPassword)}}

                    <button type="submit" class="btn btn-primary">Modifier</button>

                    {{ form_end(formPassword) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}