{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

    <img src="{{ asset('asset/logos/logo_large.png') }}" class="img-fluid w-50" alt="">
    <h3>Qui sommes-nous?</h3>
    
{% endblock %}
