{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

            <section class="monForm col-md-4 container mt-5 pt-3">
                <h1 class="text-center">Formulaire de contact</h1>
                <div class="container col-md-12 my-5 row">
                    <div class="col-md-5 widthPicture"><img src="assets/logos/blanc_logo_small_icon_only_W&B.png" class="img-fluid" alt=""></div>

                    <div class="col-md-7" method="POST">
                        
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <button type="submit" class="btn btn-success widthButton">Envoyer</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </section>

{% endblock %}
