
<!-- footer -->
<footer class="bgContact p-5 mt-5">
    <div class="container col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h2>À propos</h2>
                <a href="{{ path('apropos') }}"><p>Qui somme nous</p></a>
                <a href="{{ path('confidentialite') }}"><p>Confidentialités et Cookies</p></a>
                <p>Mentions légales</p>
            </div>

            <div class="col-md-4 pt-5">
                <img src="{{ asset('asset/logos/blanc_logo_small.png') }}" class="img-fluid" alt="">
            </div>

            <div class="col-md-4">
                <h2>Contactez nous</h2>
                <p><i class="fas fa-at mr-2"></i>hardwareactu@gmail.com</p>
                <p><i class="fas fa-phone mr-2"></i>06.62.25.12.14</p>
                <p><a href="{{ path('contact') }}">Formulaire de contact</a></p>

            </div>
        </div>
    </div>
</footer>