{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <div class="container">

        <h1>Modifier 'larticle</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('article/_delete_form.html.twig') }}

        <a href="{{ path('article_index') }}" class="btn btn-primary mt-2 mb-5">Revenir a la liste des arcticles</a>


    </div>
{% endblock %}
